@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    background-color: theme('colors.surface.base');
    color: theme('colors.text.primary');
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
  }
}
